.App {
  text-align: center;
  background-color: white;
}

html {
  margin: 40px 40px 20px 40px;
  background-color: #CDDDDD;

}

h1 {
  font-family: 'Yeseva One', cursive;
  padding-top: 25px;
}

h4 {
  font-family: 'Yeseva One', cursive;
  padding: 25px;
}

.pagination {
  justify-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
}

a .page-link {
  color: black;
}

.loading {
  height: 100%;
}

.search-section {
  display: block !important;
  margin-right: auto;
  margin-left: auto;
}

.search-group {
  width: 300px !important;
  display: block !important;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 1300px) {
  .search-section {
  padding-left: 30px;
  display: flex !important;

  }
  .search-group {
  width: 300px !important;
  display: inline-block !important;
  
  }
  .dropdown {
  	bottom: -6px;
  }
}

.select {
  font-size: 17px;
}

.input {
  display: flex;
  justify-content: center;
}

.clear {
  left: 25px !important;
}

